* {
  box-sizing: border-box;
}
a {
  color: #1177D1;
  text-decoration: none; 
}
a:hover{
  text-decoration: underline; 
  color: #0b4f8a; 
}
.breathing-room {
  padding: .5vw;
}
.card-body {
  padding: 10px; 
}

.card-latte {
  margin: 10px; 
  border: 1px solid lightgray;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
  transition: 0.3s;
  max-width: 20rem;
}
.card-title {
  color: white; 
  font-weight: bold; 
  font-size: 1.2em;
}
.card-title-container > h5 {
  margin-left: 9px; 
}
.card-title-container{
  background-color: #373A3C;
  height: 5rem; 
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
}
.center {
  text-align: center;
}
.flex-container {
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: center;
  align-items: stretch;
}
.grade-img {
  background-color: orange; 
  border-radius: 2px;
}
html, body {
  margin: 0;
  margin-left: 5vw;
  margin-right: 5vw;
  font-family: 'Roboto', sans-serif;
  color: #373A3C;
}
h2 {
  text-align: center;
  margin-bottom: 5vh;
  font-size: 2em;
  font-weight: 200;
}
h3 {
  margin-top: 5vh;
  font-size: 1.4em;
  font-weight: 150; 
}
.icon-align {
  margin: 2vw;
}
.main {
  margin-top: 5vh;
  margin-bottom: 10vh; 
}
.spacer {
  height: 5vh;
}
table {
  width: 100%; 
  margin-top: 10vh;
  border-collapse: collapse;
}
thead {
  padding: 15px; 
  text-align: left; 
  border: 1px solid #ddd;
}
thead > tr {
  font-weight: bold; 
  background-color: #115; 
  color: white;
}
td {
  padding: 15px; 
  text-align: left; 
  border: 1px solid #ddd;
 }
